<header>
  <div class="header-logo">
    <a href="/">FoodieDB</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">FoodeiDBとは</a></li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>FoodieDB</h2>
    <p>自分の食データベースを解放しよう</p>
  </div>
</div>
