<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
          <% end %>
          <%= form_tag("/posts/create", {multipart:true}) do %>
            <input name="food_name" placeholder="食べたものの名前を入力"></input>
            <input name="picture" type="file">
            <textarea name="content" placeholder="食べたものについてのコメント"></textarea>
            <input name="address" placeholder="島根県出雲市"></input>
            <div class="evaluation">
              <input id="star1" type="radio" name="star" value="5" />
              <label for="star1">★</label>
              <input id="star2" type="radio" name="star" value="4" />
              <label for="star2">★</label>
              <input id="star3" type="radio" name="star" value="3" />
              <label for="star3">★</label>
              <input id="star4" type="radio" name="star" value="2" />
              <label for="star4">★</label>
              <input id="star5" type="radio" name="star" value="1" />
              <label for="star5">★</label>
            </div>
            <input type="submit" value="投稿">
          <% end %>
      </div>
    </div>
  </div>
</div>
