<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
          <% end %>
          <%= form_tag("/posts/create") do %>
            <textarea name="content"></textarea>
            <input name="picture" type="file">
            <input type="submit" value="投稿">
          <% end %>
      </div>
    </div>
  </div>
</div>
